body {
    background-color: black;
    color: white;
    font-family: 'verdana', cursive;
    word-wrap: break-word;
    width: 100vw;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Shadows Into Light', cursive;
}

h3 {
    font-size: 1rem;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    flex-wrap: wrap;
    margin: 10px;
}

.button-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    height: 100px;
    width: 100px;
    margin: 10px;
    text-align: center;
    background-color: gray;
    color: white;
}

button:hover {
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: turquoise;
    color: white;
}


.text-div {
    margin: auto;
    width: 80%;
    height: fit-content;
}

.border {
    border: 3px solid turquoise;
    padding: 10px;
}

h2 {
    font-size: 1.5rem;

}

.hidden-button {
    display: none;
}