body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.text-div {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

    h2 {
        font-size: large;

    }